@using System.Threading.Tasks
@using DemoWebsite.Models
@using Lightcore.Kernel.Url
@model DemoWebsite.Models.MenuModel
@inject IItemUrlService Urls
<nav>
    <ul id="menu">
        @foreach (var node in @Model.MainNavigation)
        {
            <li>
                <a href="@Urls.GetUrl(node)">@node["Title"]</a>
            </li>
        }
    </ul>
    <ul id="languages">
        @foreach (var node in @Model.LanguageNavigation)
        {
            <li>
                <a href="@Urls.GetUrl(node)">@node.Language.Name</a>
            </li>
        }
    </ul>
</nav>